{% extends 'base.html' %}

{% block title %}About Me - My Portfolio{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="display-4 fw-bold text-primary mb-4">About Me</h1>
        <p class="lead">
            Blank
        </p>
        <p>
            Blank
        </p>
        <p>
            Blank
        </p>
        <p class="mt-4">
            Blank
        </p>
        <div class="mt-5">
            <h3 class="text-secondary mb-3">My Vision</h3>
            <p>
                Blank
            </p>
        </div>
    </div>
</div>
{% endblock %}
